@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    color: white;
    background-color: rgb(21, 23, 30);
    font-family: 'Poppins', sans-serif;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 5px 35px;
    background-color: rgb(21, 23, 30);
}
.logo{
    background-color: rgb(21, 23, 30);
}
.nav-items ul{
    display: flex;
    align-items: center;
    background-color: rgb(21, 23, 30);
}
.nav-items{
    display: flex;
}
.nav-items ul li{
    list-style: none;
    padding: 0 30px;
    background-color: rgb(21, 23, 30);
}
.nav-items ul li a{
    text-decoration: none;
    background-color: rgb(21, 23, 30);
    transition: 0.3s;
}
.nav-items ul li a:hover{
    color: rgb(248, 120, 56);
}
.login{
    height: 50px;
    width: 120px;
    background-color: rgb(248, 120, 56);
    border: none;
    border-radius: 10px;
    font-weight: 600;
}

.menu{
    display: flex;
    background-color: black;
}
.menu-item{
    display: flex;
    height: 50px;
    width: 140px;
    padding: 10px 15px;
    margin: 0 20px;
    justify-content: center;
    align-items: center;
    background-color: black;
    display: flex;
    flex-direction: column;
}
.menu-item a{
    text-decoration: none;
    transition: 0.3s;
    background-color:black;
}
.menu-item a:hover{
    color: rgb(248, 120, 56);
}
.menu-logo{
    background: transparent;
}

.container{
    height: 100vh;
    background-color: rgb(21, 23, 30);
}
.cards-main-heading{
    padding-top: 20px;
    padding-left: 160px;
    background-color: black;
    font-size: 2rem;
    padding-bottom: 20px;
}
.second-card-background{
    background-color: rgb(21, 23, 30);
}
.cards-main-heading-text{
    padding-left: 160px;
    padding-right: 160px;
    background-color: black;
    padding-bottom: 20px;
}
.cards-main-heading-text2{
    padding-left: 160px;
    padding-right: 160px;
    background-color: rgb(21, 23, 30);
    padding-bottom: 20px;
}
.card-container1{
    background-color: black;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 50px;
    display: flex;
}
.card-container2{
    background-color: rgb(21, 23, 30);
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 50px;
    display: flex;
}
.second-card-container{
    background-color: rgb(21, 23, 30);
}
.card1{
    width: 270px;
    margin: 0 20px;
    border: 1px solid rgba(255, 255, 255, 0.363);
    border-radius: 10px;
    padding: 20px 0;
}
.card-options{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    font-size: 0.9rem;
}
.card-heading1{
    width: 100%;
    background-color: darkcyan;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    padding: 20px 0px;
}
.card-heading div{
    padding: 0px 10px;
}
.heading1{
    background-color: darkcyan;
}
.heading2{
    background-color: #430CD7;
}
.heading3{
    background-color: #34A866;
}
.card-details{
    font-size: 0.8rem;
    padding: 10px;
}
.card-details p{
    padding: 5px 0;
}
.card-button{
    width: 200px;
    height: 40px;
    margin-left: 30px;
    border-radius: 5px;
    border: none;
    background-color: rgb(248, 120, 56);
    font-size: 1.1rem;
    font-weight: 500;
}
.card-img{
    background: transparent;
}

.info{
    height: 50vh;
    width: 90vw;
    background-color: black;
    margin: 5vh 5vw;
    border-radius: 20px;
}

.links-footer{
    border-top: 1px solid white;
    padding: 20px 140px;
    display: flex;
}
.links-footer-card{
    width: 200px;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
}
.links-footer-card div h3{
    padding-bottom: 10px;
}
.footer-card-link{
    font-size: 0.85rem;
    padding: 5px 0;
    transition: 0.3s;
}
.footer-card-link:hover{
    color: rgb(248, 120, 56);
    cursor: pointer;
}

footer{
    text-align: center;
    background-color: black;
    padding: 3vh 0;
    margin-top: 40px;
}
footer p{
    background-color: black;
}